<?xml version="1.0"?>
<launch>
  <!-- run the simulation: manager-inetic-gui-->
  <include file="$(find lab2)/launch/vsrs.launch" />
  <!-- run PID controler node-->
  <node name="ang_ctrl" pkg="pid" type="controller" ns="robot_ang">
    <param name="Kp" value="1.0" />
    <param name="Ki" value="0.1" />
    <param name="Kd" value="0.1" />
    <param name="upper_limit" value="0.2" />
    <param name="lower_limit" value="-0.2" />
  </node>
  <!-- run node ang controler-->
  <node pkg="lab2" name="navegacion_pasillo" type="follow_the_path.py"  output="screen"/>
  
  <!-- run grafic control_effort, state, setpoint-->
  <node name="rqt_plot" pkg="rqt_plot" type="rqt_plot" 
    args="/robot_ang/control_effort /robot_ang/state /robot_ang/setpoint" />
  <!-- run for change kp, ki and kd-->
  <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure"/>
</launch>
